*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(background.png);
}
.nav{
    display: flex;
    height: 70px;
    justify-content: space-around;
    align-items: center;
}
.logo{
    color: orange;
    font-size: 30px;
}
.links ul{
    display: flex;
    gap:50px;
    font-size: 20px;
    color:orange;
}
ul{
    list-style: none;
}
.links{
    margin-right:300px ;
}
.icons{
    display: flex;
    gap: 25px;
    padding-right: 50px;
    font-size: 25px;
}
.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:300px;
}
.part1{
    display: flex;
    flex-direction: column;
}
.heading1{
    font-size: 35px;
    font-style: italic;
    color: aliceblue;
}
.heading2{
    font-size: 90px;
    color: aliceblue;
    font-weight: bold;
}
.heading3{
    font-size: 30px;
    color: orange;
    font-style: italic;
}
button{
    width: 120px;
    border-radius: 30px;
    height: 30px;
    background: none;
    border:2px solid aliceblue ;
    margin-top: 30px;
    transition: 0.3s;
}

button:hover{
    background-color: orange;
    color: aliceblue;
    cursor: pointer;
}
.food{
    background: url(food1.png);
    height: 500px;
    width: 500px;
    background-size: cover;
    border-radius: 50%;
    border: 3px solid whitesmoke;
    margin-top: 90px;
}

.food1,.food2,.food3,.food4{
    width: 90px;
    height: 90px;
    border: 2px solid whitesmoke;
    border-radius: 50%;
}
.fooditems{
    display: flex;
    gap:20px;
    margin-bottom: -500px;
    padding-left:100px ;
}
.food1{
    background: url(food1.png);
    background-size: cover;

    
}
.food2{
    background: url(food2.png);
    background-size: cover;

}
.food3{
    background: url(food3.png);
    background-size: cover;

}
.food4{
    background: url(food4.png);
    background-size: cover;

}